<h3>ANNUAL BUDGET GAME</h3>

<p>
  Insert a monthly salary amount, multiply it by 12 to get annual amount. For
  each year press the expense category button to reveal what you are supposed to
  assign an amount to. Make sure the total amount do not exceed the annual
  salary. Finnish one year before going to another year. At the end create an
  annual budget in the provided template
</p>

<p>
  Ingiza kiasi cha kipato kwa mwezi, zidisha kwa 12 kupata kipato kwa mwaka. Kwa
  kila mwaka, bonyeza aina ya gharma kujua mwezi husika unatakiwa kugharimia
  nini. Maliza mwaka mmoja kablya ya kuhamia mwaka mwingine. Hakikisha jumla ya
  matumizi hayazidi kipato kwa mwaka. Mwisho tengeneza bajeti yako ya mwaka.
</p>

<div style="display: inline-flex; margin-top: 10px; padding: 3px; gap: 10px">
  <div>Monthly Salary</div>
  <input id="salary" value="0" />

  <div>Annual Salary</div>
  <input id="salary_annual" value="0" />
</div>

<div class="grid-container">
  <div><h4>MONTH</h4></div>
  <div><h4>YEAR 1</h4></div>
  <div><h4>AMOUNT</h4></div>
  <div><h4>YEAR 2</h4></div>
  <div><h4>AMOUNT</h4></div>
  <div><h4>YEAR 3</h4></div>
  <div><h4>AMOUNT</h4></div>
</div>

<app-budget
  id="janBgt"
  [month]="'January'"
  [categories]="'----'"
  [amount]="'0'"
>
</app-budget>

<app-budget
  id="febBgt"
  [month]="'February'"
  [categories]="'----'"
  [amount]="'0'"
>
</app-budget>

<app-budget id="marBgt" [month]="'March'" [categories]="'----'" [amount]="'0'">
</app-budget>

<app-budget id="aprBgt" [month]="'April'" [categories]="'----'" [amount]="'0'">
</app-budget>

<app-budget id="mayBgt" [month]="'May'" [categories]="'----'" [amount]="'0'">
</app-budget>

<app-budget id="junBgt" [month]="'June'" [categories]="'----'" [amount]="'0'">
</app-budget>

<app-budget id="julBgt" [month]="'July'" [categories]="'----'" [amount]="'0'">
</app-budget>

<app-budget id="augBgt" [month]="'August'" [categories]="'----'" [amount]="'0'">
</app-budget>

<app-budget
  id="sepBgt"
  [month]="'September'"
  [categories]="'----'"
  [amount]="'0'"
>
</app-budget>

<app-budget
  id="octBgt"
  [month]="'October'"
  [categories]="'----'"
  [amount]="'0'"
>
</app-budget>

<app-budget
  id="novBgt"
  [month]="'November'"
  [categories]="'----'"
  [amount]="'0'"
>
</app-budget>

<app-budget
  id="decBgt"
  [month]="'December'"
  [categories]="'----'"
  [amount]="'0'"
>
</app-budget>

<div style="display: inline-flex; margin-top: 10px; padding: 3px; gap: 10px">
  <div>Total Year 1</div>
  <input id="total_Y1" value="0" />

  <div>Total Year 2</div>
  <input id="total_Y2" value="0" />

  <div>Total Year 3</div>
  <input id="total_Y3" value="0" />
</div>

<h4>YOUR ANNUAL BUDGET</h4>
<div class="budget-template">
  <div>EXPENSE</div>
  <div>AMOUNT</div>
</div>

<div *ngFor="let form of forms" class="budget-template">
  <div>{{ form.label }}</div>
  <input onchange="changed($event)" type="number" [(ngModel)]="form.value" />
</div>
<div class="budget-templates">
  <div>TOTAL</div>
  <div>{{ totalBudget() }}</div>
</div>
<router-outlet></router-outlet>

<!--


-->
